---
default_language_version:
    python: python3.12
repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.5.0
      hooks:
          - id: ruff
            args: [--fix]
          - id: ruff-format

    - repo: https://github.com/koalaman/shellcheck-precommit
      rev: v0.10.0
      hooks:
          - id: shellcheck
            exclude: ^core/.zshlib/
            args: ["--severity=warning", --exclude=SC3010]

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.6.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: fix-encoding-pragma
            args: [--remove]
          - id: check-yaml
          - id: debug-statements

    - repo: https://github.com/adrienverge/yamllint.git
      rev: v1.35.1
      hooks:
          - id: yamllint
            args: [--strict]

    - repo: https://github.com/rhysd/actionlint
      rev: v1.6.27
      hooks:
          - id: actionlint
