[Unit]
Description=Kanshi dynamic display configuration
Documentation=man:kanshi(1)

# Only run in Wayland sway sessions
ConditionEnvironment=XDG_SESSION_TYPE=wayland
ConditionEnvironment=XDG_CURRENT_DESKTOP=sway

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
